@model Mykennel.Models.Kennel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kennel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KennelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KennelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URLName)
        </dt>
        <dd class = "col-sm-10">
            <a asp-area="" asp-controller="Kennels" asp-action="Details" asp-route-id="@Model.URLName"> @Html.DisplayFor(model => model.URLName) </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">

            @if (Model.Logo != null)
            {
                <div>
                    <img src="@Model.Logo" class="" style="max-height: 20vh; max-width: 20vw; background-color: white" />
                </div>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
