@model Mykennel.Models.Litter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<h3 class="text-danger">This operation can not be undone!</h3>
<div>
    <h4>Litter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kennel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kennel.KennelName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Father)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Father.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mother)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mother.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LitterId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="MyLitters">Back to My Litters</a>
    </form>
</div>
