@model Mykennel.Models.Puppy

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<h3 class="text-danger">This operation can not be undone!</h3>
<div>
    <h4>Puppy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dog.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litter.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PuppyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="MyPuppies">Back to My Puppies</a>
    </form>
</div>
