@model IEnumerable<Mykennel.Models.Puppy>

@{
    ViewData["Title"] = "My puppies";
}

<h1>Manage my puppies</h1>

<p>
    <a asp-action="Create">Add new puppy</a>
</p>
<table id="puppiesTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aim)
            </th>
            <th class="d-none d-md-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Litter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bookable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aim)
                </td>
                <td class="d-none d-md-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dog.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Litter.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PuppyId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PuppyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>